<!DOCTYPE html>
<html>
  <head>
    <title>JuiceWeather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ij9EHEa1CS3iZtt5QB2IcSuLGXAyuew&libraries=places' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
